
.navbar{
    display: flex;
    flex-direction: row;
    height : 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: space-between;
   
}

.logo{
    width: 25%;   
}

img {

    width: 18px;
    height: auto;

}
.langue {
    display: flex;
    align-items: center;
    gap: 0.5em
}
.navigation {
    display: flex;
    height: 50px;
    gap: 3rem;
    align-items: center;
    justify-content: right;
    
}
