 .card-grid-template div{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;

  }  

.colomn-content { 
    text-align: center;    
}

.box { 
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    background-color: white;
    max-width:600px;
    max-height: 500px;
    padding: 30px;
    
    
}

.box img {
    width: 370px;
}
.box h3{
   font-size: 28px;
   font-weight: 800;
   color:black;
   margin:0;
}
.box p{
    font-size: 16px;
    font-weight:300;
    line-height: 22px;
    color: #4a4a4a;
    
 }