/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding :0;
    font-family: 'Inter';
}

main {
    width: 100%;

}
section {
    margin: 0 10em; 
}
a{
    text-decoration: none;
    color: #1B1B1B;
}
a:hover{
color: #2C6BED;
}
p{
    color: #1B1B1B;
}
