html, body{
    margin: 0;
    padding :0;
    font-family: 'Inter';
    background-color: var(--bleu);
}

main {
    width: 100%;
    font-size: 20px;
    background-color: white;

}
section {
    margin: 0 10em;
     
}
h1{
   font-size:60px ; 
}
h2{
    font-size: 40px;
}
a{
    text-decoration: none;
    color: #1B1B1B;
}
a:hover{
color: #2C6BED;
}
p{
    color: #1B1B1B;
}

:root{
--bleu : #2C6BED;
}