<footer class="footer">
    <div class="footer-container">
        <div class="column">
            <div class="column-1">
                <span>© 2013–2024 Signal, a 501c3 nonprofit.</span>
                <br>
                "Signal", Signal logos, and other trademarks are trademarks or registered trademarks of Signal
                Technology Foundation in the United States and other countries.
                <a href="https://signal.org/brand/">more info here</a>
                <br>
                <br>
                For media inquiries, contact <a href="#">signal.org</a>
            </div>
            <div class="column-2">
                <strong>Organization</strong>
                <p>Donate</p>
                <p>Careers</p>
                <p>Blog</p>
                <p>Brand Assets</p>
                <p>Terms & Privacy Policy</p>
            </div>
            <div class="column-3">
                <strong>Download</strong>
                <p>Android</p>
                <p>iPhone & iPad</p>
                <p>Windows</p>
                <p>Mac</p>
                <p>Linux</p>
            </div>
            <div class="column-4">
                <strong>Social</strong>
                <p>Github</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="column-5">
                <strong>Help</strong>
                <p>Suport Center</p>
                <p>Community</p>
            </div>
        </div>
    </div>
</footer>